[submodule "venmo"]
	path = venmo
	url = https://github.com/Unofficial-APIs/Venmo.git
	branch = main
	
[submodule "robinhood"]
	path = robinhood
	url = https://github.com/Unofficial-APIs/Robinhood-Unofficial-API.git
	branch = main
[submodule "ersp"]
	path = ersp
	url = https://github.com/Integuru-AI/eSRP-Unofficial-API
	branch = main
